body{
  display: flex;  
 
  background-color: aqua;
  flex-direction: row;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}
.main-body{
    display: flex;
    height: 100vh;
    width: 65vw;
    
    flex-direction: column;
    background-color: wheat;
    
    
}
.img-holder{
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-grow: 1;
}
blockquote{
    background-color: aquamarine;
    font-size: x-large;
    font-weight: bolder;

}

.form{
    background-color: blue;
}
input,label {
    display: block;
}