:root{
    color:rgb(231, 231, 231);
}
body{
  display: flex;
   
  font-family: customfont2;
  
  
  flex-direction: row;
  
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: relative;
  
  
}
.main-body{
    display: flex;
    flex-grow: .65;
    min-height:100vh;

    
    
    justify-content: center;
    flex-direction: column;
    background-color: rgb(77, 77, 77);
    
    
}
.img-holder{
   
    min-width: 45%;
    max-width: 50%;
    display: flex;
    position: relative;
    flex-grow: .35;
    z-index: -1;
    min-height: 100vh;
    
   
    
    background-color: black;
}


.img{
    object-fit: cover;
    width: 100%;
    position:absolute;
    min-height: 100vh;
    z-index: -1;
    
  
    
 
   

}

.caption{
    background-color: black;
    color: white;
    opacity: .5;
    width: 100%;
    height: 15%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: customfont;
    font-size: 4rem;
    
    
}
    

blockquote{
   
    font-size: x-large;
    font-weight: bolder;
    margin-left: 2rem;
    margin-right: 3rem;
    max-width: 70%;
    margin-bottom: 3rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;

}

h3{
    padding-left:2rem;
}

.form{
    
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}
input,label {
    display: block;
}

form{
    font-size: .75rem;
    letter-spacing: .15rem;
   
    padding: .25rem;
   
    
}
input{
    width: 200px;
    height: 20px;
    border-radius: .15rem;
    border-style: none;
}

.form_container{

    display: flex;
    flex-direction: row;
    align-self: flex-start;
    
    margin-left:.5rem;
    padding: 1rem;
    padding-left: .5rem;
    padding-right: 2rem;
    gap: 4rem;
    border-style:solid;
    border-width:3px;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(197, 241, 217), 
      rgb(118, 251, 178)
    ) 1 100%;
}

@font-face {
    font-family: customfont;
    src: url(MetalsmithRegular-p7ylO.otf);
}
ul{
    margin-left: -1rem;
    
}
@font-face {
    font-family: customfont2;
    src: url(SF-Pro-Rounded-Medium.otf);

}

button{
    color:rgb(173, 172, 172);
    font-family: customfont2;
    background-color:rgb(77, 77, 77) ;
    display: flex;
    color: ;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    align-self: flex-start;
    padding:.5rem;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    
}

.footer{
    margin-left: 2.5rem;
    margin-top: 1rem;
}

li{
    list-style: none;
    padding-top: 1rem;
}

input:invalid {
    background-color: pink;
}
a{
    color: rgb(197, 241, 217);
    text-decoration: none;
}


